@model CarGarageParking.Models.Garage;

    @{
        ViewData["Title"] = $"{Model.Name}{Model.Location}";
    }



<h2>@Model.Name @Model.Location</h2>

<div>
    @await Html.PartialAsync("_GarageFullCard", Model, new ViewDataDictionary(ViewData) { { "ShowLinkFullGarage", false } })
</div>


<a href="@Url.Action("Index", "Garage")" class=" btn btn-primary">Back to all garages</a>
<a href="@Url.Action("Edit","Garage", new {id = Model.GarageId })" class="btn btn-secondary">Edit a garage</a>
<a href="@Url.Action("Delete","Garage",new {id = Model.GarageId})" class="btn btn-danger">Delete</a>
