@model CarGarageParking.ViewModel.IPaginationViewModel<CarGarageParking.Models.Garage>

<head>

    <link rel="stylesheet" href="~/css/Pagination.css" />
</head>

    <nav class="Page-navigation">

    @if (Model.HasPrevious)
    {
        <a href="@Url.Action("Index", new { page = (Model.CurrentPage-1).ToString() })" class="btn btn-primary">Previous |</a>
    }

   

    

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (Model.CurrentPage == i)
        {
            <a href="@Url.Action("Index", new {page = i})" class="btn disabled">@i</a>
        }
        else
        {
            <a href="@Url.Action("Index", new {page = i})" class="btn btn-warning">@i</a>
        }

    }
    @if (Model.HasNext)
    {
        <a href="@Url.Action("Index", new { page = (Model.CurrentPage)+1 })" class="btn btn-secondary">| Next</a>
    }
    </nav>


<style>
  
</style>